<h1>Bienvenido al chat!!</h1>
<div id="chat-container">
  <div id="chat-message">
    <div class="message-send">
      <p id="message"> </p>
    </div>
    <ul id="list-messages">
  {{#each message}}
    <li>
      <p><strong>{{this.nombre}}</strong>: {{this.message}}</p>
    </li>
  {{/each}}
</ul> 
  </div>
  <form id="form">            
    <label for="user"> Usuario </label>
    <input type="text" name="user" id="user">
    <label for="message"> Mensaje </label>
    <input type="text" name="message" id="messages">           
    <button type="submit" id="btn-send">Send</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/messages.js"></script>


