    <section class="form">
        <div id="formulario">
            <h1>Mensaje</h1>
            <label for="user"> Usuario</label>
            <input type="text" name="user" id="user">
            <label for="message"> Mensaje</label>
            <input type="text" name="message" id="message">           
            <button type="submit" id="btn-send">Enviar</button>
        </div>
    </section>
     <section id="chat" style="display: flex;">
    <section  class="chat-container">
        <h1>Chat</h1>
        <div>
            <ol id="messages">
            </ol>
        </div>
    </section>


<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/messages.js"></script>

